@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*4e8be7*/
:root {
  --main-color: #477fd2;
  --color-dark: #1D2231;
  --text-grey: #8390A2;
}
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

#sidebar-toggle {
  display: none;
}

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: var(--main-color);
  color: #fff;
  overflow-y: auto;
  transition: width 500ms;
  box-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048),
          0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086),
          0 100px 80px rgba(0, 0, 0, 0.12)
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}

.sidebar-menu {
  padding: 1rem;
}

.sidebar li {
  margin-bottom: 1.5rem;
  border-bottom: 2px solid var(--main-color);
}
.sidebar li:hover {
  border-bottom: 2px solid white;
  border-radius: 5px;
}

.sidebar a {
  color: #fff;
  font-size: .8rem;
}

.sidebar a:hover{
  color: #fff;
  font-size: .8rem;
  text-decoration: none;
}

.sidebar a span:last-child {
  padding-left: .6rem;
}

#sidebar-toggle:checked ~ .sidebar {
  width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
  display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
  display: flex;
  justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
  margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
  left: 60px;
  width: calc(100% - 60px);
}

.main-content {
  position: relative;
  margin-left: 240px;
  transition: margin-left 500ms;
  background: #E8E8E8;
}

.logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

.logo a {
  color: #2c4964;
}

.logo img {
  max-height: 40px;
}

header {
  position: fixed;
  left: 240px;
  top: 0;
  z-index: 100;
  width: calc(100% - 240px);
  background: #fff;
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  transition: left 500ms;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-wrapper input {
  border: 0;
  outline: 0;
  padding: 1rem;
  height: 38px;
}


main {
  margin-top: 60px;
  background: #f1f5f9;
  min-height: 93vh;
  padding: 1rem 3rem;
}

.dash-title {
  color: var(--color-dark);
  margin-bottom: 1rem;
}

.dash-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
}

.card-single {
  background: #fff;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.card-body {
  padding: 1.3rem 1rem;
  display: flex;
  align-items: center;
}

.card-body span {
  font-size: 2rem;
  color: #777;
  padding-right: 1.4rem;
}

.card-body h5 {
  color: var(--text-grey);
  font-size: 1rem;
}

.card-body h4 {
  color: var(--color-dark);
  font-size: 1.1rem;
  margin-top: .2rem;
}

.card-footer {
  padding: .2rem 1rem;
  background: #f9fafc;
}

.card-footer a {
  color: var(--main-color);
}

.recent {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.activity-grid {
  display: grid;
  grid-template-columns: 90% 25%;
  grid-column-gap: 1.5rem;
}

.activity-card
{
  background: #fff;
  border-radius: 7px;
}

.activity-card h3 {
  color: var(--text-grey);
  margin: 1rem;
}

.activity-card table {
  width: 100%;
  border-collapse: collapse;
}

.activity-card thead {
  background: #efefef;
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-center button {
  background: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  padding: .4rem 1rem;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 60px;
    z-index: 150;
  }

  .sidebar .sidebar-header h3 span,
  .sidebar li span:last-child {
    display: none;
  }

  .sidebar .sidebar-header,
  .sidebar li {
    display: flex;
    justify-content: center;
  }

  .main-content {
    margin-left: 60px;
  }

  .main-content header {
    left: 60px;
    width: calc(100% - 60px);
  }

  #sidebar-toggle:checked ~ .sidebar {
    width: 240px;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
  #sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: inline;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header {
    display: flex;
    justify-content: space-between;
  }

  #sidebar-toggle:checked ~ .sidebar li {
    display: block;
  }

  #sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
  }

  #sidebar-toggle:checked ~ .main-content header {
    left: 60px;
  }
}

@media only screen and (max-width: 860px) {
  .dash-cards {
    grid-template-columns: repeat(2,1fr);
  }

  .card-single {
    margin-bottom: 1rem;
  }

  .activity-grid {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .dash-cards {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 450px) {
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

.logo a {
  color: #2c4964;
}

.logo img {
  max-height: 40px;
}